*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.sba-main{
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}
.sba-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sba-container h2{
    color:#fff;
    text-align: center;
    font-size: 12vw;
    line-height: 1em;
    z-index: 1000;
    font-weight: 900;
}
.sba-container h2 span{
    font-size: 0.2em;
    line-height: 0.4em;
    text-align: center;
    text-transform: uppercase;
}
.sba-block{
    position: absolute;    
}
.sba-block img{
    max-width: 50px;
}